In [1]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [4]:
data=pd.read_csv(r"C:\Users\HP\Downloads\dataset.csv")
data.head()

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC_DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMING,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER
0,M,65,1,1,1,2,2,1,2,2,2,2,2,2,1,NO
1,F,55,1,2,2,1,1,2,2,2,1,1,1,2,2,NO
2,F,78,2,2,1,1,1,2,1,2,1,1,2,1,1,YES
3,M,60,2,1,1,1,2,1,2,1,1,2,1,2,2,YES
4,F,80,1,1,2,1,1,2,1,2,1,1,1,1,2,NO

In [9]:
data.isnull().sum()

GENDER                   0
AGE                      0
SMOKING                  0
YELLOW_FINGERS           0
ANXIETY                  0
PEER_PRESSURE            0
CHRONIC_DISEASE          0
FATIGUE                  0
ALLERGY                  0
WHEEZING                 0
ALCOHOL_CONSUMING        0
COUGHING                 0
SHORTNESS_OF_BREATH      0
SWALLOWING_DIFFICULTY    0
CHEST_PAIN               0
LUNG_CANCER              0
dtype: int64

In [6]:
data["GENDER"].fillna(data["GENDER"].mode()[0], inplace=True)

In [8]:
data["LUNG_CANCER"].fillna(data["LUNG_CANCER"].mode()[0], inplace=True)

In [11]:
#one hot encoding: 1. get dummies 2. one hot encoder in sklearn
en_data=data[["GENDER", "LUNG_CANCER"]]
en_data

     GENDER LUNG_CANCER
0         M          NO
1         F          NO
2         F         YES
3         M         YES
4         F          NO
...     ...         ...
2995      F          NO
2996      F          NO
2997      F         YES
2998      M         YES
2999      M         YES

[3000 rows x 2 columns]

In [12]:
pd.get_dummies(en_data)

      GENDER_F  GENDER_M  LUNG_CANCER_NO  LUNG_CANCER_YES
0        False      True            True            False
1         True     False            True            False
2         True     False           False             True
3        False      True           False             True
4         True     False            True            False
...        ...       ...             ...              ...
2995      True     False            True            False
2996      True     False            True            False
2997      True     False           False             True
2998     False      True           False             True
2999     False      True           False             True

[3000 rows x 4 columns]

In [13]:
pd.get_dummies(en_data).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   GENDER_F         3000 non-null   bool
 1   GENDER_M         3000 non-null   bool
 2   LUNG_CANCER_NO   3000 non-null   bool
 3   LUNG_CANCER_YES  3000 non-null   bool
dtypes: bool(4)
memory usage: 11.8 KB

In [14]:
from sklearn.preprocessing import OneHotEncoder

In [16]:
ohe=OneHotEncoder()
ohe.fit_transform(en_data)

<3000x4 sparse matrix of type '<class 'numpy.float64'>'
	with 6000 stored elements in Compressed Sparse Row format>

In [18]:
ohe=OneHotEncoder()
ar=ohe.fit_transform(en_data).toarray()

In [19]:
pd.DataFrame(ar,columns=["GENDER_F", "GENDER_M", "LUNG_CANCER_NO", "LUNG_CANCER_YES"])

      GENDER_F  GENDER_M  LUNG_CANCER_NO  LUNG_CANCER_YES
0          0.0       1.0             1.0              0.0
1          1.0       0.0             1.0              0.0
2          1.0       0.0             0.0              1.0
3          0.0       1.0             0.0              1.0
4          1.0       0.0             1.0              0.0
...        ...       ...             ...              ...
2995       1.0       0.0             1.0              0.0
2996       1.0       0.0             1.0              0.0
2997       1.0       0.0             0.0              1.0
2998       0.0       1.0             0.0              1.0
2999       0.0       1.0             0.0              1.0

[3000 rows x 4 columns]

In [20]:
ohe=OneHotEncoder(drop="first")
ar=ohe.fit_transform(en_data).toarray()

In [23]:
pd.DataFrame(ar,columns=[ "GENDER_M", "LUNG_CANCER_YES"])

      GENDER_M  LUNG_CANCER_YES
0          1.0              0.0
1          0.0              0.0
2          0.0              1.0
3          1.0              1.0
4          0.0              0.0
...        ...              ...
2995       0.0              0.0
2996       0.0              0.0
2997       0.0              1.0
2998       1.0              1.0
2999       1.0              1.0

[3000 rows x 2 columns]